 {% extends 'base.html' %}
{% load static %}
{% block title %}
	Password-Reset
{% endblock %}
{% block content %}
    {% if validlink %}
        <h1>Parolni ikki marta qayta kiriting!</h1>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Parolni tiklash</button>
        </form>
        {% else %}
        <h2>Noto'g'ri link kiritdingiz, ushbu link yaroqsiz holatda bo'lishi mumkin, qayta urinib ko'ring!</h2>
    {% endif %} 
{% endblock %}