{% extends 'base.html' %}
{% load static %}
{% block title %}
	Password-Reset
{% endblock %}
{% block content %}
    <h2 style="margin-top: 10px; margin-bottom: 10px">Foydalanuvchi parolini almashtirish</h2>
    <form method="post">
    {% csrf_token %}
        <div class="input-group flex-nowrap"  style="width: 85%; display: flex; position: relative">
            <input type="email" class="form-control" placeholder="example@mail.com" aria-label="Username" aria-describedby="addon-wrapping" name="email" required>
            <button type="submit" style="margin: 5px; width: 220px;  border-radius: 4px; color: #5cb85c; border-color: #5cb85c; height: 30px ">Email yuborish</button>
        </div>
    </form>
{% endblock %}