.scrollToTop{background-color: #385663; color:#fff}
.scrollToTop:hover, .scrollToTop:focus{background-color:#fff; color:#385663; border-color:1px solid #385663}
.logo > span{color:#385663}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{background-color:#385663}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color:#385663}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#385663}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#385663}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#385663}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#385663}
.latest_newsarea span{background:none repeat scroll 0 0 #385663}
.latest_post > h2 span{background:none repeat scroll 0 0 #385663}
#prev-button{color:#385663}
#next-button{color:#385663}
.single_post_content > h2 span{background:none repeat scroll 0 0 #385663}
.single_sidebar > h2 span{ background:none repeat scroll 0 0 #385663}
.bsbig_fig figcaption a:hover{color:#385663}
.spost_nav .media-body > a:hover{color:#385663}
.cat-item a:hover{background-color:#385663}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#385663}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#385663}
.single_sidebar > ul > li a:hover{color:#385663}
.footer_widget > h2:hover{color:#385663}
.tag_nav li a:hover{color:#385663; border-color:#385663}
.copyright a:hover{color:#385663}
.post_commentbox a:hover, .post_commentbox span:hover{color: #60a1e3
}
.breadcrumb{border-left:10px solid #385663}
.single_page_content ul li:before{background-color:#385663}
.single_page_content h2, .single_page_content h3, .single_page_content h4, .single_page_content h5, .single_page_content h6{color:#385663}
.nav-slit .icon-wrap{background-color:#385663}
.nav-slit h3{background:#385663}
.catgArchive{background-color:#385663}
.error_page > h3{color:#385663}
.error_page > span{background:none repeat scroll 0 0 #385663}
.error_page > a{background-color:#385663}
.contact_area > h2{background-color:#385663}
.contact_form input[type="submit"]{background-color:#385663}
.contact_form input[type="submit"]:hover{background-color:#fff; color:#385663}
.related_post > h2 i{color:#385663}
.form-control:focus{border-color:#385663;  box-shadow:0 0px 1px #5c525b inset,0 0 5px #385663}