{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load hitcount_tags %}
{% block title %}
	Detail
{% endblock %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'home' %}">{% blocktrans %}
              	Asosiy
              {% endblocktrans %}</a></li>
              <li><a href="{% url 'news_category' article.category %}">{{ article.category }}</a></li>
            </ol>
            <h1>{{ article.title }}</h1>
            <div class="post_commentbox"> <span><i class="fa fa-calendar"></i>{{ article.publish_time|date:"jS F Y g:i A" }}</span> <a href="{% url 'news_category' article.category %}"><i class="fa fa-tags"></i>{{ article.category }}</a> <i class="fa fa-eye"> {% get_hit_count for article %}</i></div>
            <div class="single_page_content"> <img class="img-center" src="{{ article.image.url }}" alt="{{ article.title }}" style="width: 100%; height: 70%; display: flex">
                <blockquote>{{ article.body }}</blockquote>
            </div>
              {% if user.is_authenticated and user.is_superuser %}
              	<a href="{% url 'news_update' article.slug %}">{% blocktrans %}
              	Tahrirlash
              {% endblocktrans %}</a> | 
              <a href="{% url 'news_delete' article.slug %}">{% blocktrans %}
              	O'chirish
              {% endblocktrans %}</a>
              {% endif %}


              <div class="comments-section">
                  <ul class="hidden">
              {% if comments %}
          {% for comment in comments %}
          	<li>
                <div class="card">
                  <div class="card-header">
                    {{ comment.created_at }}
                  </div>
                  <div class="card-body">
                    <blockquote class="blockquote mb-0">
                          <p style="word-wrap: break-word;max-width: 100%";>{{ comment.body }}</p>
                      <footer class="blockquote-footer">by<cite title="Source Title"> {{ comment.user.username }}</cite></footer>
                    </blockquote>
                  </div>
                </div>
              </li>
          {% endfor %}
              {% else %}
              <li>
                  <div class="card">
                      <div class="card-header">
                            Created at
                          </div>
                          <div class="card-body">
                            <blockquote class="blockquote mb-0">
                              <p>No comments yet</p>
                              <footer class="blockquote-footer">by<cite title="Source Title"> some user</cite></footer>
                            </blockquote>
                          </div>
                  </div>
                </li>
              {% endif %}
              </ul>
              <div>
                        <button  style="width: 100%" class="btn toggle-comments" onclick="toggleComments()">{% blocktrans %}
              	Fikrlar
              {% endblocktrans %}<i class="fa fa-comment" aria-hidden="true"> {{ comment_count }}</i></button>
                </div>
              </div>
          <form class="row g-3" method="post">{% csrf_token %}
          <div class="col-auto">
              <label for="inputPassword5" class="form-label">Write comment here</label>
                <input type="text" id="id_text" class="form-control" name="body" maxlength="512" required>
                <div id="passwordHelpBlock" class="form-text">
                  {% blocktrans %}
              	Iltimos comment yozish uchun
              {% endblocktrans %} <a href="{% url 'signup' %}" style="color: #00acee">{% blocktrans %}
              	ro'yxatdan
              {% endblocktrans %}</a> {% blocktrans %}
              	o'ting yoki
              {% endblocktrans %} <a href="{% url 'login' %}" style="color: #00acee">{% blocktrans %}
              	tizimga kiring
              {% endblocktrans %}</a>
                  </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirm</button>
              </div>
          </div>
        </form>
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="related_post">
              <h2>{% blocktrans %}
              	Tegishli xabarlar
              {% endblocktrans %}<i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">
                <li>
                  <div class="media"> <a class="media-left" href="#"> <img src="{% static "images/post_img1.jpg" %}" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media"> <a class="media-left" href="#"> <img src="{% static "images/post_img2.jpg" %}" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media"> <a class="media-left" href="#"> <img src="{% static "images/post_img1.jpg" %}" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="#"> Aliquam malesuada diam eget turpis varius</a> </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>City Lights</h3>
          <img src="{% static "images/post_img1.jpg" %}" alt=""/> </div>
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Street Hills</h3>
          <img src="{% static "images/post_img1.jpg" %}" alt=""/> </div>
        </a> </nav>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <h2><span>{% blocktrans %}
              	So'ngi yangiliklar
              {% endblocktrans %}</span></h2>
            <ul class="spost_nav">
                
              {% for new in news %}
              	<li>
                <div class="media wow fadeInDown"> <a href="{{ new.get_absolute_url }}" class="media-left"> <img alt="" src="{{ new.image.url }}"> </a>
                  <div class="media-body"> <a href="{{ new.get_absolute_url }}" class="catg_title">{{ new.title | truncatewords:5 }}</a> </div>
                </div>
              </li>
              {% endfor %}
              
                
            </ul>
          </div>
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">{% blocktrans %}
              	Kategoriyalar
              {% endblocktrans %}</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                    {% for category in categories %}
                  <li class="cat-item"><a href="#">{{ category.name }}</a></li>
                     {% endfor %}
                </ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="video">
                <div class="vide_area">
                  <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="comments">
                <ul class="spost_nav">
                  <li>
                    <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="{% static "images/post_img1.jpg" %}"> </a>
                      <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="{% static "images/post_img2.jpg" %}"> </a>
                      <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="{% static "images/post_img1.jpg" %}"> </a>
                      <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                    </div>
                  </li>
                  <li>
                    <div class="media wow fadeInDown"> <a href="#" class="media-left"> <img alt="" src="{% static "images/post_img2.jpg" %}"> </a>
                      <div class="media-body"> <a href="#" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>{% blocktrans %}
              	Homiy
              {% endblocktrans %}</span></h2>
            <a class="sideAdd" href="#"><img src="{% static "images/add_img.jpg" %}" alt=""></a> </div>
          <div class="single_sidebar wow fadeInDown">
            <h2><span>{% blocktrans %}
              	Linklar
              {% endblocktrans %}</span></h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Rss Feed</a></li>
              {% if user.is_authenticated %}
                    <li>
                        <a href="#" onclick="document.getElementById('logout-form').submit();">{% blocktrans %}
              	Tizimdan chiqish
              {% endblocktrans %}</a>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                        {% else %}
                    <li><a href="{% url 'login' %}">{% blocktrans %}
              	Tizimga kirish
              {% endblocktrans %}</a></li>
                {% endif %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </section>
<script>
    function toggleComments() {
        const commentsList = document.querySelector('.comments-section ul');
        commentsList.classList.toggle('hidden');
    }
</script>
{% endblock content %}